* {
    padding: 0;
    margin: 0;
    border: none;
}
a {
    color: black;
}

a:hover {
    color: gold;
    text-shadow: 2px 2px 4px white;
    text-decoration: none;
}

.container img {
    width: 100%;
}

div.navbar {
    z-index: 999;
}
.top-nav {
    padding: 0 15px;
}

body {
    margin: 0px !important;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    body {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: white;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
}
